@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

.successInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: toRem(296);
}
.text {
    font-size: toRem(20);
    color: $black-color;
    margin-top: toRem(16);
    margin-bottom: toRem(24);
}
