@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

.requestForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: toRem(145);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: toRem(24);
    margin-top: 2rem;
}

.policy {
    width: toRem(360);
    color: $grey-color;
    font-size: toRem(14);
    a {
        color: $button-color;
        font-size: inherit;
    }
}