@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

.requestForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: toRem(24);
    margin-top: 2rem;
}