* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.125rem;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

input,
textarea,
button {
  font-family: 'Inter';
}

input,
select,
textarea {
  &:active {
    border: none;
    outline: none;
  }

  &:focus {
    outline: 0;
  }
}

input:focus::placeholder {
    color: transparent;
  }

  