* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.125rem;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

// button:active {
//     border: none;
//     outline: none;
// }

// button:focus {
//     outline: 0;
// }



  