@import 'styles/global.scss';
@import 'styles/fonts';


html,
body {
  font-family: 'Inter';
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}